<div class="table-agile-info">
  <div class="panel panel-default">
    <div class="panel-heading">
      Patients
    </div>

    <div class='panel-body'>
      <table class='table table-bordered'>
        <thead>
          <tr>
            <th>Name</th>
            <th>ID Number</th>
            <th>Gender</th>
            <th>Email</th>
            <th>Phone Number</th>
          </tr>
        </thead>

        <tbody>
          <% @patients.each do |patient| %>
            <tr>
              <td><%= link_to patient.name, "/patients/#{patient.id}/details" %></td>
              <td><%= patient.id_number %></td>
              <td><%= patient.gender %></td>
              <td><%= patient.email%></td>
              <td><%= patient.phone_number %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'New Patient', new_patient_path %>
    </div>
  </div>
</div>