<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @hospital.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @hospital.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @hospital.description %>
</p>

<p>
  <strong>Approved:</strong>
  <%= @hospital.approved %>
</p>

<%= link_to 'Edit', edit_hospital_path(@hospital) %> |
<%= link_to 'Back', hospitals_path %>
